@import "nullstyle";

//стили для картинки через js
.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img{display: none;}
}


.wrapper{
    overflow: hidden;
    min-height: 100%;
}
.container{
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.main-screen{
    flex: 1 0 100%;
    position: relative;
    // main-screen__bg
    &__bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
// Шапка header
.header {
    position: absolute;
    width: 100%;
    z-index: 50;
    left: 0;
    top: 35px;
    &__row{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85px;
    }
    &__logo{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
}
.menu{
    &__list{
        display: flex;
        li{
            position: relative;
            padding: 0px 37.5px;
            &:nth-child(2){
                padding: 0px 110px 0px 37.5px;
            }
            &:nth-child(3){
                padding: 0px 37.5px 0px 110px;
            }
        }
    }
    &__link{
    color: #4d4959;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    }
    @media (max-width:767px) {
        &__body{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #4d4959;
            padding: 150px 0px 0px 0px;
            transform: translateY(-100%);
            &.active{
                transition: all 1.5s ease 0s;
                transform: translate(0);
            }
        }
        &__list{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                padding: 0px 0px 35px 0px ;
                &:nth-child(2),
                &:nth-child(3){
                    padding: 0px 0px 45px 0px;
                }
                &:last-child{
                    padding: 0;
                }
            }
        }
        &__link{
            color: #fff;
            font-size: 20px;
        }
       
    }
}
body.lock{
    overflow: hidden;
}
.icon-menu{
    @media (max-width:767px){
        display: block;
        position: absolute;
        top: 33px;
        right: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span{
            top: 8px;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            z-index: 5;
            background-color: black;
            transition: all 0.5s ease 0s;
            &:first-child{top:0px;}
            &:last-child{top:auto; bottom: 0px;}
        }
        &.active {
            span{transform: scale(0); background-color: #fff;
            &:first-child{transform: rotate(-45deg); top: 8px;}
            &:last-child{transform: rotate(45deg); bottom: 8px;}
            }
        }
    }
}

.generation {
    padding: 120px 0px;
    background-color: #f7f7f7;
    @media (max-width: 900px){
        padding: 80px 0px;
    }
    @media (max-width: 600px){
        padding: 30px 0px;
    }
}
.block{
    text-align: center;
    &__icon{
        margin: 0px 0px 30px 0px;
    }
    &__title{
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin: 0px 0px 20px 0px;
    }
    &__text{
    color: #848789;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    &_j{
        text-align: justify;
        font-size: 16px;
        line-height: 30px;
    }
    }
}

.brands {
    &_rev {
        .brands__column{
            order: 1;
            &_b {
                order: 2;
            }
        }
    }
    &__row{
        display: flex;
    }
    &__column{
        flex: 0 1 33.333%;
        &_b {
            flex: 0 1 66.667%
        }
    }
    &__content{
        padding: 70px 65px 55px 65px;
    }
    &__image{
        padding: 0px 0px 37.51% 0px;
    }
    @media (max-width:1500px) {
        &__content {
            padding: 40px 35px 30px 35px;
        }
    }
    @media (max-width:1100px){
        &__last{
            .brands__column {
                &:nth-child(1){
                    order: 2;
                }
                &:nth-child(2){
                    order: 1;
                }
                &:nth-child(3){
                    order: 3;
                }
            }
        }
        &__row {
            flex-direction: column;
        }
    }
}

.item{
    height: 100%;
    display: block;
    position: relative;
    &__logo{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(100, 194, 158, 0.5) ;
        transition: all 1s 0s;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        h3 {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            color: #fff;
        }
    }
    &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &:hover {
        .item__logo{
            opacity: 1;
            visibility: visible;
        }
    }
    @media (max-width:1100px) {
        height: auto;
        padding: 0px 0px 70% 0px;
    }
}
.slick-slider{ position: relative;
    .slick-track,.slick-list{}
    .slick-list  {overflow: hidden;}
    .slick-track {display: flex; align-items: flex-start;}
    .slick-slide {}
    .slick-dots  {
        padding: 100px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin: 0 5px;
            button{
                font-size: 0;
                width: 11px;
                height: 11px;
                border: 1px solid #c8c8c8;
                background-color: transparent;
                border-radius: 50%;
            }
            &.slick-active{
                button{
                    background-color: #a9afb3;
                }
            }
        }
    }
}



.slider{
    background-color: #f7f7f7;
    padding: 120px 0px 60px 0px;
    &__item{
        text-align: center;
    }
    &__icon{
        margin: 0px 0px 60px 0px;
    }
    &__title{
        color: #353738;
        font-size: 18px;
        font-weight: 700;
        margin: 0px 0px 20px 0px;
        span{
            font-weight: 300;
            color: #848789;
        }
    }
    &__text{
        text-align: center;
        color: #848789;
        font-size: 24px;
        line-height: 34px;
    }
}

.shop{
    &__body{
        display: flex;
    }
    &__column{
        flex: 0 1 16.666%;
        &_b{
            flex: 0 1 33.333%;
        }
    }
    &__footer{
        padding: 75px 0px;
        text-align: center;
        background-color: #282f35;
    }
    &__btn{
        display: inline-block;
        height: 50px;
        line-height: 48px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2.8px;
        color: #fff;
        text-transform: uppercase;
        padding: 0px 60px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    @media (max-width: 1100px){
        &__body{
            flex-wrap: wrap;
        }
        &__column{
            flex: 0 1 50%;
            &:first-child{
                flex: 0 1 100%;
            }
            &:last-child{
                flex: 0 1 100%;
            }
        }
        &__btn{
            padding: 0px 30px;
        }
        &__footer{
            padding: 50px 0px;
        }
    }
}
.block-shop{
    height: 100%;
    &__row{
        display: flex;
    }
    &__column{
        flex: 0 1 50%;
    }
    &__item{
        height: auto;
        padding: 0px 0px 50% 0px ;
        &_b{
            padding: 0px 0px 200.5% 0px;
        }
        &_l{
            padding: 0px 0px 100% 0px;
        }
    }
}


.subscribe{

    &__body{
        padding: 110px 0px;
        max-width: 520px;
        margin: 0 auto;
        text-align: center;
    }
    &__logo{
        margin: 0px 5px 39px 0px;
    }
    &__label{
        color: #848789;
        font-size: 24px;
        line-height: 34px;
        font-style: italic;
        margin: 0px 0px 35px 0px;
    }
    &__form{
        display: flex;
    }
    &__input{
        flex: 1 1 auto;
        padding: 0px 8px 0px 0px;
       .input{     
        width: 100%;
        height: 69px;
        border: 1px solid #d3d7d9;
        background-color: #ffffff;
        color: black;
        padding: 0px 28px;
        font-size: 20px;
        line-height: 24px;
        &::placeholder{
            color: black;
        }
       }
    }
    &__button{
        flex: 0 0 126px;
    }
    &__btn{
    width: 100%;
    height: 69px;
    line-height: 69px;
    color: #fff;
    font-size: 24px;
    background-color: #64c29e;
    }
    @media (max-width: 750px) {
        &__body{
            padding: 50px 0px;
        }
    }
    @media (max-width: 500px) {
        &__form{
            display: block;
        }
        &__input{
            padding: 0px 0px 8px 0px;
        }
    }
}

.footer{
    background-color: #f7f7f7;
    
    &__row{
        display: flex;
        padding: 100px 0px;
        align-items: center;
    }
    &__column{
        flex: 0 1 33.333%;
    }
    &__adress{
        color: #848789;
        font-size: 14px;
        line-height: 18px;
        p{
            &:first-child{
                font-weight: 700;
            }
        }
    }
    @media (max-width:1100px) {
        padding: 50px 0px;
    }
    @media (max-width:600px) {
        &__row{
            flex-direction: column;
            text-align: center;
            padding: 30px 0px;
        }
        &__social {
            margin: 15px 0;
        }
    }
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link{
      margin: 0 7.5px;
    }
}
.dev{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__text{
    color: #848789;
    font-size: 14px;
    line-height: 17.87px;
    font-style: italic;
    padding-right: 9px;
    }
}
